table,th,td{
    border:2px solid black;
    text-align: center;
    color:rgb(255, 0, 0);
    width:100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsY6sSSzEIwvLSy__Zhm6ZzxesAslsozQvEw&usqp=CAU) ;
    background-size:initial;
    background-repeat:repeat;
    background-position:top;
    border-collapse: collapse ;

}
h1{
    background:linear-gradient(45deg,red,yellow,green) ;
    color:aliceblue
    
}
body{
    background-color: gray;
}